<h1>New Booking for <%= @restaurant.restaurant_name %></h1>

<%= form_with(model: [@restaurant, @booking], local: true) do |form| %>
  <div class="field">
    <%= form.label :booking_size %>
    <%= form.number_field :booking_size %>
  </div>

  <div class="field">
    <%= form.label :booking_date %>
    <%= form.date_field :booking_date %>
  </div>

  <div class="field">
    <%= form.label :booking_time %>
    <%= form.time_field :booking_time %>
  </div>

  <div class="field">
    <%= form.label :booking_length %>
    <%= form.number_field :booking_length %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, @clients, :id, :first_name %>
  </div>

  <div class="field">
    <%= form.label :bid_amount %>
    <%= form.number_field :bid_amount, step: 0.01 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
