<div class="container">
  <h1 class="text-center">Add New Client</h1>
    <br>
    <%= simple_form_for(@client) do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :telephone_number %>
      <%= f.input :email %>
      <%= f.input :DOB, html5: true %>
      <%= f.input :dietary_requirement %>
      <%= f.input :table_preferences, collection: ['Window', 'Mezzanine', 'Corner'], prompt: 'Select an option' %>
      <%= f.file_field :picture %>
    <br>
      <div class="text-center">
        <%= f.button :submit, class: 'btn btn-dark' %>
      </div>
    <% end %>
    <br>

    <%= link_to 'Back', clients_path %>
</div>
