<h1>New</h1>

<%= simple_form_for(@client) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :telephone_number %>
  <%= f.input :email %>
  <%= f.input :DOB, html5: true %>
  <%= f.input :dietary_requirement %>
  <%= f.button :submit %>
<% end %>

    <%= link_to 'Back', clients_path %>
