<%= form_with(model: table, local: true) do |form| %>
  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
        <% table.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :table_number %>
    <%= form.text_field :table_number %>
  </div>

  <div>
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div>
    <%= form.label :restaurant_id %>
    <%= form.collection_select :restaurant_id, Restaurant.all, :id, :restaurant_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
