<h1><%= @restaurant.restaurant_name %></h1>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @restaurant.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @restaurant.capacity %>
</p>

<table>
  <tr>
    <th>Day</th>
    <th>Opening Time</th>
    <th>Closing Time</th>
  </tr>
  <tr>
    <td>Monday</td>
    <td><%= @restaurant.opening_time_mon.strftime("%H:%M") %></td>
    <td><%= @restaurant.closing_time_mon.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td><%= @restaurant.opening_time_tue.strftime("%H:%M") %></td>
    <td><%= @restaurant.closing_time_tue.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td><%= @restaurant.opening_time_wed.strftime("%H:%M") %></td>
    <td><%= @restaurant.closing_time_wed.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td><%= @restaurant.opening_time_thu.strftime("%H:%M") %></td>
    <td><%= @restaurant.closing_time_thu.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Friday</td>
    <td><%= @restaurant.opening_time_fri.strftime("%H:%M") %></td>
    <td><%= @restaurant.closing_time_fri.strftime("%H:%M") %></td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td><%= @restaurant.opening_time_sat.strftime("%H:%M") %></td>
    <td><%= @restaurant.closing_time_sat.strftime("%H:%M") %></td>
  </tr>
</table>
<br>
<p>
  <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
  <%= link_to "Back", restaurants_path %>

</p>
